@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --md-primary-fg-color: #036c9c;
  --md-primary-fg-color--light: #036c9c;
  --md-primary-fg-color--dark: #036c9c;
}

body {
  font-family: "Montserrat", sans-serif;
}

.twitter {
  color: #1da1f2;
}

.guilded {
  color: #f5c400;
}

.discord {
  color: #5865f2;
}
